.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: hidden;
}

.header {
  display: flex;
  width: 100%;
  height: 8rem;
  min-height: 5rem;
  background-color: blue;
  align-items: center;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.index {
  width: 12rem;
  height: 100%;
  flex-shrink: 0;
  background-color: red;
}

.entrieswrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 2rem;
  justify-content: space-evenly;
  overflow-y: scroll;
}

.addbtn {
  border: 0;
  position: absolute;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  right: 1rem;
  top: 1rem;
  color: var(--color-green);
  font-weight: 500;
  font-size: 1.3rem;
  background-color: var(--color-white);
  border-radius: 99px;
  filter: drop-shadow(0px 6px 4px rgba(99, 153, 130, 0.45));
}

.addbtn:hover {
  cursor: pointer;
}

/* TEMP BACK BUTTON */
.backbtn {
  cursor: pointer;
  height: 2.5rem;
  width: 5rem;
  margin-left: 1rem;
  border-radius: 3px;
}
