.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.welcome,
.welcomeh {
  display: flex;
  width: 100%;
  height: 5rem;
  min-height: 5rem;
  box-sizing: border-box;
  padding: 1rem;
  flex-direction: row-reverse;
  background-color: var(--color-gray);
}

.helpbtnh,
.helpbtn {
  color: var(--color-green);
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  right: 12rem;
  top: 1.65rem;
  background-color: var(--color-white);
  padding: .65rem;
  width: 3rem;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 16px 24px rgba(54, 123, 245, 0.16),
    0px 6px 12px rgba(54, 123, 245, 0.16);
}

.helpbtn:active {
  transform: translate(0px, 1px);
}

.helpbtnh {
  filter: blur(1.5px);
}

.dashtutorial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 14;
}

.exitTutorial {
  position: absolute;
  bottom: 2rem;
  z-index: 15;
  font: 2rem;
  font-weight: 600;
  color: var(--color-green);
  background-color: var(--color-white);
  padding: 1rem 1rem;
  width: 10rem;
  border-radius: 10px;
  text-align: center;
  border: none;
  cursor: pointer;
  box-shadow: 0px 16px 24px rgba(54, 123, 245, 0.16),
    0px 6px 12px rgba(54, 123, 245, 0.16);
}

.exitTutorial:active {
  transform: translate(0px, 1px);
}

.resetjwrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.welcomeh,
.welcome {
  height: 30rem;
  flex-direction: column-reverse;
  align-items: center;
  color: var(--color-black);
  user-select: none;
}

.welcomeh {
  filter: blur(3px);
}

.welcome h1,
.welcomeh h1 {
  font-size: 4.5rem;
  margin-bottom: 0.6rem;
}

.welcome h2,
.welcomeh h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.mainh,
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
  flex-wrap: wrap;
  max-width: 50rem;
  overflow-y: auto;
  border-top: 2px solid var(--color-green);
  padding-top: 2rem;
}

.mainh {
  filter: blur(3px);
}

.mainh::-webkit-scrollbar,
.main::-webkit-scrollbar {
  width: 20px;
}

.mainh::-webkit-scrollbar-track,
.main::-webkit-scrollbar-track {
  background-color: transparent;
}

.mainh::-webkit-scrollbar-thumb,
.main::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.main::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-green);
}

.newyearbtnh,
.newyearbtn {
  display: flex;
  width: 11rem;
  height: 2rem;
  padding: 1rem;
  background-color: var(--color-white);
  box-shadow: 0px 16px 24px rgba(54, 123, 245, 0.16),
    0px 6px 12px rgba(54, 123, 245, 0.16);
  border-radius: 99px;
  align-items: center;
  position: absolute;
  left: 1rem;
  top: 0.1rem;
  justify-content: space-evenly;
  cursor: pointer;
  margin-top: 1.5rem;
}

.newyearbtnh {
  filter: blur(3px);
}

.newyearbtnh > p,
.newyearbtn > p {
  user-select: none;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--color-green);
}

.newyearbtn:active {
  transform: translate(0px, 1px);
}

.newyearbtnh > img,
.newyearbtn > img {
  width: 16px;
  width: 16px;
}

.plusimg {
  user-select: none;
}
