.row {
  width: 100%;
  padding-bottom: 1rem;
  display: flex;
  box-sizing: border-box;
}

.row > input {
  background-color: var(--color-gray);
  border: 0;
  width: 100%;
  font-weight: 300;
  font-size: 1.2rem;
}

.row > input:focus {
  outline: none;
}

.row > svg {
  margin-left: -0.3rem;
}

.row > input::placeholder {
  color: var(--color-black);
  opacity: 1;
  font-weight: 300;
  font-size: 1.2rem;
}
