.header {
  display: flex;
  width: 100%;
  height: 5rem;
  min-height: 5rem;
  box-sizing: border-box;
  padding: 1rem;
  flex-direction: row-reverse;
  background-color: var(--color-gray);
}

.settingsbtnh,
.settingsbtn {
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background-color: var(--color-white);
  padding: 1rem 1rem;
  width: 8rem;
  border-radius: 99px;
  text-align: center;
  margin-top: 1rem;
  box-shadow: 0px 16px 24px rgba(54, 123, 245, 0.16),
    0px 6px 12px rgba(54, 123, 245, 0.16);
}

.settingsbtn:active {
  transform: translate(0px, 1px);
}

.settingsbtnh {
  filter: blur(1.5px);
}

.popup {
  width: 10rem;
  border-radius: 9px;
  background-color: var(--color-white);
  position: absolute;
  top: 5.5rem;
  right: 1rem;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 10;
  padding: 0.7rem;
  cursor: pointer;
}

.warning {
  position: absolute;
  right: 10%;
  left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 80vh;
  opacity: 0.85;
  z-index: 5;
}

.warnbtnwrap {
  display: flex;
  width: 17.3rem;
  justify-content: space-evenly;
}

.warnbtnwrap > p {
  font-size: 1.8rem;
  font-weight: 800;
  padding: 0.8rem;
  background-color: var(--color-hazard);
  border-radius: 12px;
  color: var(--color-white);
  cursor: pointer;
  user-select: none;
}

.warnbtnwrap > p[id="warnno"] {
  background-color: var(--color-green);
}

.warning > p {
  font-size: 2.3rem;
  font-weight: 800;
  padding: 1rem;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 12px;
  margin-bottom: 1rem;
}
